@page {
    size: A4;
    margin: 2.2cm 2.2cm 2.2cm 2.2cm;
  }
  
* { box-sizing: border-box; }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    margin-bottom: 5rem;
}

.page{
    padding: 0;
}

.letterhead{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.letterhead p{
    margin: 0;
    line-height: 1.5;
}

.school-name-letterhead{
    font-weight: 700;
    margin: 0;
}

.font-md{
    font-size: 10pt;
}

.font-s{
    font-size: 6.5pt;
}

.logo-mppe-letterhead{
    width: 8rem;
}

.logo-uecolegiomjm-letterhead{
    width: 5rem;
}

.doc-tittle{
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

.content{
    margin-bottom: 5rem;
}

.content p{
    font-size: 12pt;
    line-height: 1.8;
    text-align: justify;
    text-indent: 1.25cm;
    margin: 0;      
}

.inssue-line-footer{
    font-size: 12pt;
    line-height: 1.8; 
    text-align: justify;
    margin-bottom: 12rem;
}

.signature-block-footer{
    text-align: center;
}

.sign-name{
    font-size: 12pt;
}

.strong{
    font-weight: 600;
}