.container-dashboard {
    width: 100%;
    height: 100vh;
}

.container-dashboard-main-content{
    padding: var(--padding-dashboard-content);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    place-items: center;
}

.container-dashboard-welcome-text{
    width: 100%
}

.container-dashboard-cardsButtons{
    width: 100%;
    display: flex;
    gap: var(--space-lg);
}
