.container-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-bg);
}

.card-login {
    width: 100%;
    max-width: 28.5rem;
    height: 100%;
    max-height: 30rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-xxl);
    border-radius: var(--border-radius-containers);
    border: 1px solid var(--color-border-cards);
    box-shadow: 0.2px 0.2px 4px rgba(0, 0, 0, 0.10);
}

.container-icon-login{
    height: 5rem;
}

.card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--font-xxs);
    margin-bottom: var(--space-xl);
    margin-top: var(--space-sm);
}

.card__header h2 {
    font-size: var(--font-xl);
}

.card__header p {
    font-size: var(--font-sm);
    color: var(--color-font);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--font-lg);
}