.container-main-content-newRequest{
    padding: var(--padding-xxl);
}

.container-form-newRequest{
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-containers);
    border: 1px solid var(--color-border-cards);
}

.container-form-title{
    width: 100%;
    padding: var(--padding-lg);
    border-bottom: 1px solid var(--color-border-cards);
}

.form-newRequest{
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--padding-lg);
    gap: var(--space-lg);
}

.container-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 0;
    gap: var(--space-lg);
}

.student-data-container{
    border-bottom: 1px solid var(--color-border-cards);
}

.payment-data-container{
    border-bottom: 1px solid var(--color-border-cards);
}

.container-footer-form{
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
}
