<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Quien suscribe, Directora de la Unidad Educativa Colegio <strong>“MAESTRO JOSÉ MARTÍ”</strong>, ubicado en la ciudad de Santa Ana de Coro; municipio Miranda del estado Falcón, por medio de la presente hace constar que el (la) estudiante: <strong>{{student_name}}</strong> {{document_type}}: <strong>{{student_ci}}</strong>, se encuentra en la institucion Educativa cursando el <strong>{{grade}}</strong> de <strong>{{academic_level}}</strong>, para el periodo escolar <strong>{{school_year}}</strong>.
    </p>
</body>
</html>