<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Quien suscribe, Directora de la Unidad Educativa Colegio <strong>“MAESTRO JOSÉ MARTÍ”</strong>, ubicado en la ciudad de Santa Ana de Coro; municipio Miranda del estado Falcón, por medio de la presente hace constar que el (la) estudiante: <strong>{{student_name}}</strong> Con {{document_type}}: <strong>{{student_ci}}</strong>, quien cursó el <strong>{{grade}}</strong> de <strong>{{academic_level}}</strong>, del Año Escolar <strong>{{school_year}}</strong> se retira de esta Institución Educativa por Voluntad Propia según lo manifiesta su representante legal: <strong>{{paret_name}}</strong> C.I: <strong>{{parent_ci}}</strong>.
    </p>
</body>
</html>