<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Preview Constancia</title>
  <link rel="stylesheet" href="./style/style-records.css" />
</head>
<body>

  <header class="header">
    <img class="logo-mppe-letterhead" src="../assets/logo-mppe.png" alt="Logo MPPE">
    <div class="letterhead">
        <p class="school-name-letterhead font-md">Unidad Educativa Colegio "Maestro Jose Marti"</p>
        <p class="school-sub-letterhead font-s">Inscrito en el Ministerio del Poder Popular para la Educación</p>
        <p class="school-adress-letterhead font-s">Calle Colina Esquinas con Calle Maparari y Churuguara Telef: (0268) 2530956</p>
        <p class="school-adress-letterhead font-s">Coro; Estado Falcon Rif: J08527407-3</p>
    </div>
    <img class="logo-uecolegiomjm-letterhead" src="../assets/logo-colegio-mjm.png" alt="Logo U.E Colegio Maestro Jose Marti">
  </header>

  <main class="page">
      <h1 class="doc-tittle">CONSTANCIA DE BUENA CONDUCTA</h1>

      <section class="content">
        <p>
          Quien suscribe, Directora de la Unidad Educativa Colegio
          <span class="strong">“MAESTRO JOSÉ MARTÍ”</span>, ubicado en la ciudad de
          <span class="strong">Santa Ana de Coro</span>; municipio
          <span class="strong">Miranda</span> del estado
          <span class="strong">Falcón</span>, por medio de la presente hace constar que el (la)
          estudiante: <span class="strong">María Fernanda Pérez</span> Cédula Escolar No:
          <span class="strong">V-30.123.456</span> quien cursó el
          <span class="strong">6to Grado “A”</span> de <span class="strong">Educación Primaria</span>,
          del Año Escolar <span class="strong">2025-2026</span> en esta Institución Educativa demostró
          <span class="strong">BUENA CONDUCTA</span> durante su permanencia en el plantel.
        </p>
      </section>

      <footer class="footer">
          <p class="inssue-line-footer">
            Constancia que se expide a petición de parte interesada en Santa Ana de Coro a los 05 días del mes de Agosto de 2025.
          </p>

          <div class="signature-block-footer">
            <div class="signature-footer">
              <p class="sign-name">MSc. Alicia Escorche</p>
              <p class="sign-title">Directora</p>
            </div>
          </div>
      </footer>
  </main>
</body>
</html>
