/* HEADER */
.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-header);
    border-bottom: 1.5px solid var(--color-border-cards);
}

.header-logo-icon{
    background-color: var(--color-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    padding: var(--padding-sm);
}

.header-logo{
    display: flex;
    align-items: center;
    gap: var(--space-lg);
}

.header-text{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}
